{
  "openapi": "3.1.0",
  "info": {
    "title": "GarfiX EOS API",
    "version": "12.1.0",
    "description": "GarfiX Enterprise Operating System — Multi-tenant ERP + AI Fabric API for MENA businesses. Includes accounting, invoicing, inventory, HR, AI intelligence, payments, and platform admin. All endpoints require authentication (JWT access token via cookie) unless marked as public.",
    "contact": {
      "name": "GarfiX Engineering",
      "email": "engineering@garfix.app"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://api.garfix.app",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Development"
    }
  ],
  "security": [
    {
      "cookieAuth": []
    },
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "access_token",
        "description": "JWT access token stored in cookie. Refresh token in 'refresh_token' cookie."
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT access token as Authorization header (alternative to cookie)."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "string",
            "description": "Error code (e.g., 'UNAUTHORIZED', 'NOT_FOUND')"
          },
          "details": {
            "type": "object",
            "additionalProperties": true,
            "description": "Additional error context"
          }
        },
        "required": [
          "error"
        ]
      },
      "Company": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "nameAr": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "plan": {
            "type": "string",
            "enum": [
              "starter",
              "business",
              "enterprise"
            ]
          },
          "currency": {
            "type": "string",
            "enum": [
              "SAR",
              "AED",
              "KWD",
              "BHD",
              "QAR",
              "OMR",
              "EGP"
            ]
          },
          "subscriptionStatus": {
            "type": "string",
            "enum": [
              "active",
              "trial",
              "suspended",
              "cancelled"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "slug",
          "currency"
        ]
      },
      "Invoice": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "number": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "sent",
              "paid",
              "overdue",
              "cancelled"
            ]
          },
          "subtotal": {
            "type": "number"
          },
          "taxAmount": {
            "type": "number"
          },
          "total": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "issueDate": {
            "type": "string",
            "format": "date"
          },
          "dueDate": {
            "type": "string",
            "format": "date"
          },
          "clientId": {
            "type": "string"
          },
          "lineItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LineItem"
            }
          }
        },
        "required": [
          "id",
          "number",
          "status",
          "total",
          "currency"
        ]
      },
      "LineItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "productId": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "quantity": {
            "type": "number"
          },
          "unitPrice": {
            "type": "number"
          },
          "total": {
            "type": "number"
          },
          "discount": {
            "type": "number"
          }
        },
        "required": [
          "description",
          "quantity",
          "unitPrice",
          "total"
        ]
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "uid": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "displayName": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "admin",
              "editor",
              "employee",
              "viewer"
            ]
          },
          "companies": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tokenVersion": {
            "type": "integer"
          }
        },
        "required": [
          "id",
          "uid",
          "email",
          "role"
        ]
      },
      "Voucher": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "number": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "description": {
            "type": "string"
          },
          "lines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VoucherLine"
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "posted",
              "reversed"
            ]
          }
        },
        "required": [
          "id",
          "number",
          "date",
          "status"
        ]
      },
      "VoucherLine": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "accountId": {
            "type": "string"
          },
          "debit": {
            "type": "number"
          },
          "credit": {
            "type": "number"
          },
          "description": {
            "type": "string"
          }
        },
        "required": [
          "accountId"
        ]
      },
      "FinancialPeriod": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "endDate": {
            "type": "string",
            "format": "date"
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "closed",
              "locked"
            ]
          },
          "companySlug": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "startDate",
          "endDate",
          "status",
          "companySlug"
        ]
      },
      "AuthResult": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "error": {
            "type": "string"
          }
        }
      },
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {}
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          },
          "hasMore": {
            "type": "boolean"
          }
        }
      },
      "AIRequest": {
        "type": "object",
        "properties": {
          "input": {
            "type": "string"
          },
          "requestType": {
            "type": "string",
            "enum": [
              "ocr",
              "matching",
              "financial_analysis",
              "chat",
              "whatsapp"
            ]
          },
          "companySlug": {
            "type": "string"
          },
          "context": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "input",
          "requestType",
          "companySlug"
        ]
      },
      "AIResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "resolvedBy": {
            "type": "string",
            "enum": [
              "cache",
              "pattern",
              "rule",
              "memory",
              "budget",
              "provider_routing",
              "ai"
            ]
          },
          "confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "costUsd": {
            "type": "number"
          },
          "latencyMs": {
            "type": "integer"
          },
          "result": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "AuditLog": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "action": {
            "type": "string"
          },
          "actor": {
            "type": "string"
          },
          "companySlug": {
            "type": "string"
          },
          "details": {
            "type": "object",
            "additionalProperties": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WebhookEndpoint": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "secret": {
            "type": "string"
          },
          "isActive": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "HealthCheck": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "healthy",
              "degraded",
              "down"
            ]
          },
          "version": {
            "type": "string"
          },
          "uptime": {
            "type": "number"
          },
          "checks": {
            "type": "object",
            "properties": {
              "database": {
                "type": "string",
                "enum": [
                  "ok",
                  "error"
                ]
              },
              "cache": {
                "type": "string",
                "enum": [
                  "ok",
                  "error",
                  "not_configured"
                ]
              },
              "aiFabric": {
                "type": "string",
                "enum": [
                  "ok",
                  "error",
                  "not_configured"
                ]
              },
              "queues": {
                "type": "string",
                "enum": [
                  "ok",
                  "error",
                  "not_configured"
                ]
              }
            }
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Employee": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "department": {
            "type": "string"
          },
          "position": {
            "type": "string"
          },
          "companySlug": {
            "type": "string"
          },
          "hireDate": {
            "type": "string",
            "format": "date"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "terminated",
              "on_leave"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "email",
          "companySlug",
          "status"
        ]
      },
      "Attendance": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "employeeId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "checkIn": {
            "type": "string",
            "format": "time"
          },
          "checkOut": {
            "type": "string",
            "format": "time"
          },
          "status": {
            "type": "string",
            "enum": [
              "present",
              "absent",
              "late",
              "half_day"
            ]
          },
          "companySlug": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "employeeId",
          "date",
          "status"
        ]
      },
      "Salary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "employeeId": {
            "type": "string"
          },
          "baseSalary": {
            "type": "number"
          },
          "allowances": {
            "type": "number"
          },
          "deductions": {
            "type": "number"
          },
          "netSalary": {
            "type": "number"
          },
          "period": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processed",
              "paid"
            ]
          },
          "companySlug": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "employeeId",
          "baseSalary",
          "netSalary",
          "period",
          "status"
        ]
      },
      "LeaveRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "employeeId": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "annual",
              "sick",
              "maternity",
              "emergency"
            ]
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "endDate": {
            "type": "string",
            "format": "date"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "approved",
              "rejected",
              "cancelled"
            ]
          },
          "companySlug": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "employeeId",
          "type",
          "startDate",
          "endDate",
          "status"
        ]
      },
      "Commission": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "employeeId": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "period": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "approved",
              "paid"
            ]
          },
          "companySlug": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "employeeId",
          "amount",
          "period",
          "status"
        ]
      },
      "Performance": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "employeeId": {
            "type": "string"
          },
          "rating": {
            "type": "number",
            "minimum": 1,
            "maximum": 5
          },
          "period": {
            "type": "string"
          },
          "goals": {
            "type": "string"
          },
          "companySlug": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "employeeId",
          "rating",
          "period"
        ]
      },
      "GratuityRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "employeeId": {
            "type": "string"
          },
          "totalGratuity": {
            "type": "number"
          },
          "yearsOfService": {
            "type": "number"
          },
          "monthlyGratuity": {
            "type": "number"
          },
          "companySlug": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "employeeId",
          "totalGratuity",
          "yearsOfService"
        ]
      },
      "PlatformTenant": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "plan": {
            "type": "string",
            "enum": [
              "starter",
              "business",
              "enterprise"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "trial",
              "suspended",
              "cancelled"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "slug",
          "name",
          "plan",
          "status"
        ]
      },
      "PlatformStats": {
        "type": "object",
        "properties": {
          "totalTenants": {
            "type": "integer"
          },
          "activeTenants": {
            "type": "integer"
          },
          "totalRevenue": {
            "type": "number"
          },
          "monthlyRevenue": {
            "type": "number"
          },
          "aiCostMtd": {
            "type": "number"
          },
          "totalRequestsMtd": {
            "type": "integer"
          }
        },
        "required": [
          "totalTenants",
          "activeTenants",
          "totalRevenue"
        ]
      },
      "PlatformFeatureFlag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "rolloutPct": {
            "type": "number",
            "minimum": 0,
            "maximum": 100
          }
        },
        "required": [
          "id",
          "key",
          "enabled"
        ]
      },
      "Announcement": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "info",
              "warning",
              "critical"
            ]
          },
          "active": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "title",
          "body",
          "type",
          "active"
        ]
      },
      "Ticket": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "in_progress",
              "resolved",
              "closed"
            ]
          },
          "priority": {
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high",
              "critical"
            ]
          },
          "category": {
            "type": "string"
          },
          "tenantSlug": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "title",
          "status",
          "priority"
        ]
      },
      "AIProvider": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "provider": {
            "type": "string",
            "enum": [
              "openai",
              "anthropic",
              "google",
              "deepseek",
              "openrouter"
            ]
          },
          "modelId": {
            "type": "string"
          },
          "isEnabled": {
            "type": "boolean"
          },
          "costPer1kTokens": {
            "type": "number"
          },
          "latencyMs": {
            "type": "number"
          }
        },
        "required": [
          "id",
          "name",
          "provider",
          "modelId",
          "isEnabled"
        ]
      },
      "DashboardStats": {
        "type": "object",
        "properties": {
          "totalRevenue": {
            "type": "number"
          },
          "outstanding": {
            "type": "number"
          },
          "totalClients": {
            "type": "integer"
          },
          "totalInvoices": {
            "type": "integer"
          },
          "paidCount": {
            "type": "integer"
          },
          "overdueCount": {
            "type": "integer"
          }
        },
        "required": [
          "totalRevenue",
          "outstanding",
          "totalClients",
          "totalInvoices"
        ]
      },
      "Notification": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "read": {
            "type": "boolean"
          },
          "companySlug": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "title",
          "message",
          "read"
        ]
      },
      "Client": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "nameAr": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          },
          "companySlug": {
            "type": "string"
          },
          "balance": {
            "type": "number"
          }
        },
        "required": [
          "id",
          "name",
          "companySlug"
        ]
      },
      "InventoryItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "sku": {
            "type": "string"
          },
          "quantity": {
            "type": "number"
          },
          "unitPrice": {
            "type": "number"
          },
          "companySlug": {
            "type": "string"
          },
          "warehouseId": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "sku",
          "quantity",
          "companySlug"
        ]
      },
      "Warehouse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "companySlug": {
            "type": "string"
          },
          "capacity": {
            "type": "number"
          }
        },
        "required": [
          "id",
          "name",
          "companySlug"
        ]
      },
      "StockMovement": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "itemId": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "in",
              "out",
              "transfer"
            ]
          },
          "quantity": {
            "type": "number"
          },
          "reference": {
            "type": "string"
          },
          "companySlug": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "itemId",
          "type",
          "quantity",
          "companySlug"
        ]
      },
      "AutomationRule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "trigger": {
            "type": "string"
          },
          "action": {
            "type": "string"
          },
          "isActive": {
            "type": "boolean"
          },
          "companySlug": {
            "type": "string"
          },
          "lastRunAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "trigger",
          "action",
          "isActive"
        ]
      },
      "FeatureFlag": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "companySlug": {
            "type": "string"
          }
        },
        "required": [
          "key",
          "enabled"
        ]
      },
      "Module": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "companySlug": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "enabled"
        ]
      },
      "InvoiceTemplate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "layout": {
            "type": "string"
          },
          "companySlug": {
            "type": "string"
          },
          "isDefault": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "name",
          "companySlug"
        ]
      },
      "Purchase": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "companySlug": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "approved",
              "received",
              "cancelled"
            ]
          }
        },
        "required": [
          "id",
          "description",
          "amount",
          "date",
          "companySlug"
        ]
      },
      "ProductMatchConfig": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "threshold": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "algorithm": {
            "type": "string",
            "enum": [
              "fuzzy",
              "exact",
              "semantic"
            ]
          },
          "companySlug": {
            "type": "string"
          },
          "isActive": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "threshold",
          "algorithm",
          "companySlug"
        ]
      },
      "StorageObject": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "size": {
            "type": "integer"
          },
          "contentType": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "key",
          "size",
          "contentType"
        ]
      },
      "Report": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "financial",
              "tax",
              "audit",
              "custom"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "companySlug": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "title",
          "type",
          "companySlug"
        ]
      },
      "Backup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "filename": {
            "type": "string"
          },
          "size": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "companySlug": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "filename",
          "size",
          "companySlug"
        ]
      },
      "OnboardingStep": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "order": {
            "type": "integer"
          },
          "isCompleted": {
            "type": "boolean"
          },
          "companySlug": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "title",
          "order",
          "isCompleted"
        ]
      },
      "StartupCheckResult": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "fatal": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "env": {
            "type": "object",
            "additionalProperties": {
              "type": "boolean"
            }
          }
        },
        "required": [
          "ok",
          "fatal",
          "warnings"
        ]
      },
      "ZATCAInvoice": {
        "type": "object",
        "properties": {
          "invoiceNumber": {
            "type": "string"
          },
          "sellerVAT": {
            "type": "string"
          },
          "buyerVAT": {
            "type": "string"
          },
          "totalAmount": {
            "type": "number"
          },
          "vatAmount": {
            "type": "number"
          },
          "issueDate": {
            "type": "string",
            "format": "date"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "submitted",
              "cleared",
              "rejected"
            ]
          },
          "companySlug": {
            "type": "string"
          }
        },
        "required": [
          "invoiceNumber",
          "sellerVAT",
          "totalAmount",
          "vatAmount",
          "status"
        ]
      },
      "MetricPoint": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "value": {
            "type": "number"
          },
          "labels": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": [
          "timestamp",
          "value"
        ]
      },
      "SLODefinition": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "targetPct": {
            "type": "number",
            "minimum": 0,
            "maximum": 100
          },
          "currentPct": {
            "type": "number",
            "minimum": 0,
            "maximum": 100
          },
          "window": {
            "type": "string",
            "enum": [
              "7d",
              "30d",
              "90d"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "healthy",
              "at_risk",
              "breached"
            ]
          }
        },
        "required": [
          "name",
          "targetPct",
          "currentPct",
          "window",
          "status"
        ]
      }
    },
    "parameters": {
      "companySlug": {
        "name": "companySlug",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Tenant company slug for multi-tenant isolation"
      },
      "idParam": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Resource ID"
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Authentication required",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Unauthorized",
              "code": "UNAUTHORIZED"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Insufficient permissions",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Forbidden — founder only",
              "code": "FORBIDDEN"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Not found",
              "code": "NOT_FOUND"
            }
          }
        }
      },
      "ValidationError": {
        "description": "Request validation failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Validation failed",
              "code": "VALIDATION_ERROR",
              "details": {
                "field": "required"
              }
            }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limit exceeded",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Rate limit exceeded",
              "code": "RATE_LIMITED"
            }
          }
        }
      },
      "InternalError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "auth",
      "description": "Authentication & session management"
    },
    {
      "name": "accounting",
      "description": "Journal entries, fiscal periods, balance sheet, P&L"
    },
    {
      "name": "invoices",
      "description": "Invoice CRUD, E-invoicing (ZATCA), OCR parsing"
    },
    {
      "name": "inventory",
      "description": "Products, stock movements, warehouses"
    },
    {
      "name": "clients",
      "description": "Client management"
    },
    {
      "name": "hr",
      "description": "Employee management, payroll, attendance, leaves"
    },
    {
      "name": "ai",
      "description": "AI Fabric — cascade pipeline, agents, cost optimization"
    },
    {
      "name": "payments",
      "description": "Payment rails, MyFatoorah integration"
    },
    {
      "name": "reports",
      "description": "Financial reports, export"
    },
    {
      "name": "webhooks",
      "description": "Webhook endpoints & deliveries"
    },
    {
      "name": "settings",
      "description": "Company settings, feature flags"
    },
    {
      "name": "platform-admin",
      "description": "Founder/admin platform management"
    },
    {
      "name": "health",
      "description": "Health check & startup diagnostics"
    },
    {
      "name": "audit",
      "description": "Audit trail & tamper detection"
    },
    {
      "name": "dashboard",
      "description": "Dashboard metrics & KPIs"
    },
    {
      "name": "notifications",
      "description": "Notification management"
    },
    {
      "name": "catalog",
      "description": "Product catalog management"
    },
    {
      "name": "automation",
      "description": "Automation rules & workflows"
    },
    {
      "name": "permissions",
      "description": "RBAC roles & permission catalog"
    },
    {
      "name": "onboarding",
      "description": "Company onboarding wizard"
    },
    {
      "name": "saas",
      "description": "SaaS billing, payments, users"
    },
    {
      "name": "modules",
      "description": "Module management"
    },
    {
      "name": "feature-flags",
      "description": "Feature flag toggles"
    },
    {
      "name": "product-matching",
      "description": "AI product matching, config, review"
    },
    {
      "name": "founder-panel",
      "description": "Founder panel dashboards (mission control, finops, AI fabric)"
    },
    {
      "name": "founder-validation",
      "description": "Founder identity validation"
    },
    {
      "name": "storage",
      "description": "File storage management"
    },
    {
      "name": "metrics",
      "description": "Observability metrics & SLO definitions"
    },
    {
      "name": "company-management",
      "description": "Company CRUD, members, settings"
    },
    {
      "name": "backups",
      "description": "Database backup management"
    },
    {
      "name": "purchases",
      "description": "Purchase order management"
    },
    {
      "name": "invoice-templates",
      "description": "Invoice template management"
    },
    {
      "name": "e-invoicing",
      "description": "ZATCA / MENA e-invoicing compliance"
    },
    {
      "name": "accounting-banking",
      "description": "Bank accounts, reconciliation, transfers"
    },
    {
      "name": "accounting-ar-ap",
      "description": "Accounts receivable & payable, aging"
    },
    {
      "name": "accounting-budgets",
      "description": "Budget management & budget-vs-actual"
    },
    {
      "name": "accounting-payroll-wps",
      "description": "Payroll & WPS processing"
    },
    {
      "name": "accounting-tax",
      "description": "Tax filing & compliance"
    },
    {
      "name": "accounting-vouchers",
      "description": "Voucher management, approve, cancel"
    },
    {
      "name": "accounting-fixed-assets",
      "description": "Fixed assets & depreciation"
    },
    {
      "name": "accounting-cost-centers",
      "description": "Cost center management"
    },
    {
      "name": "accounting-trade-finance",
      "description": "Letters of credit & trade finance"
    }
  ],
  "paths": {
    "/api/product-matching/review": {
      "get": {
        "operationId": "get_api_product-matching_review",
        "summary": "GET /api/product-matching/review — list queued-for-review matches",
        "description": "GET /api/product-matching/review — list queued-for-review matches",
        "tags": [
          "product-matching"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companySlug",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tenant company slug"
          }
        ]
      }
    },
    "/api/product-matching/confirm": {
      "post": {
        "operationId": "post_api_product-matching_confirm",
        "summary": "POST /api/product-matching/confirm Confirm a review-queue match: the input text ",
        "description": "POST /api/product-matching/confirm Confirm a review-queue match: the input text becomes a new verified alias for the matched product, so future entries with that text auto-match (the \"brain learns\" st",
        "tags": [
          "product-matching"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "parameters": [
          {
            "name": "companySlug",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tenant company slug"
          }
        ]
      }
    },
    "/api/product-matching/match-override": {
      "get": {
        "operationId": "get_api_product-matching_match-override",
        "summary": "POST /api/product-matching/match-override GET  /api/product-matching/match-overr",
        "description": "POST /api/product-matching/match-override GET  /api/product-matching/match-override?companySlug=... Learning Engine — record + list human overrides of the matcher's decision. When an employee reviews ",
        "tags": [
          "product-matching"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companySlug",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tenant company slug"
          }
        ]
      },
      "post": {
        "operationId": "post_api_product-matching_match-override",
        "summary": "POST /api/product-matching/match-override GET  /api/product-matching/match-overr",
        "description": "POST /api/product-matching/match-override GET  /api/product-matching/match-override?companySlug=... Learning Engine — record + list human overrides of the matcher's decision. When an employee reviews ",
        "tags": [
          "product-matching"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "parameters": [
          {
            "name": "companySlug",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tenant company slug"
          }
        ]
      }
    },
    "/api/product-matching/undo": {
      "post": {
        "operationId": "post_api_product-matching_undo",
        "summary": "POST /api/product-matching/undo — bulk undo matches",
        "description": "POST /api/product-matching/undo — bulk undo matches",
        "tags": [
          "product-matching"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "parameters": [
          {
            "name": "companySlug",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tenant company slug"
          }
        ]
      }
    },
    "/api/product-matching/config": {
      "get": {
        "operationId": "get_api_product-matching_config",
        "summary": "GET  /api/product-matching/config?companySlug=... PUT  /api/product-matching/con",
        "description": "GET  /api/product-matching/config?companySlug=... PUT  /api/product-matching/config Read + update the per-tenant product matching configuration:   - autoMatchThreshold / suggestedThreshold (tier bound",
        "tags": [
          "product-matching"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companySlug",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tenant company slug"
          }
        ]
      },
      "put": {
        "operationId": "put_api_product-matching_config",
        "summary": "GET  /api/product-matching/config?companySlug=... PUT  /api/product-matching/con",
        "description": "GET  /api/product-matching/config?companySlug=... PUT  /api/product-matching/config Read + update the per-tenant product matching configuration:   - autoMatchThreshold / suggestedThreshold (tier bound",
        "tags": [
          "product-matching"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "parameters": [
          {
            "name": "companySlug",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tenant company slug"
          }
        ]
      }
    },
    "/api/automation": {
      "get": {
        "operationId": "get_api_automation",
        "summary": "/api/automation GET  — list automation rules for a company (requires settings_ac",
        "description": "/api/automation GET  — list automation rules for a company (requires settings_access) POST — create a new rule Query: ?companySlug=acme",
        "tags": [
          "automation"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companySlug",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tenant company slug"
          }
        ]
      },
      "post": {
        "operationId": "post_api_automation",
        "summary": "/api/automation GET  — list automation rules for a company (requires settings_ac",
        "description": "/api/automation GET  — list automation rules for a company (requires settings_access) POST — create a new rule Query: ?companySlug=acme",
        "tags": [
          "automation"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "parameters": [
          {
            "name": "companySlug",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tenant company slug"
          }
        ]
      }
    },
    "/api/automation/{id}/logs": {
      "get": {
        "operationId": "get_api_automation_by_id_logs",
        "summary": "/api/automation/[id]/logs GET — execution logs for one rule (most-recent-first) ",
        "description": "/api/automation/[id]/logs GET — execution logs for one rule (most-recent-first) Query: ?limit=50&status=success",
        "tags": [
          "automation"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource id"
          }
        ]
      }
    },
    "/api/automation/{id}": {
      "patch": {
        "operationId": "patch_api_automation_by_id",
        "summary": "/api/automation/[id] PATCH  — update a rule (name, condition, actions, isActive)",
        "description": "/api/automation/[id] PATCH  — update a rule (name, condition, actions, isActive) DELETE — remove a rule (cascades to execution logs via FK) Permission: settings_access + company access (must match the",
        "tags": [
          "automation"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource id"
          }
        ]
      },
      "delete": {
        "operationId": "delete_api_automation_by_id",
        "summary": "/api/automation/[id] PATCH  — update a rule (name, condition, actions, isActive)",
        "description": "/api/automation/[id] PATCH  — update a rule (name, condition, actions, isActive) DELETE — remove a rule (cascades to execution logs via FK) Permission: settings_access + company access (must match the",
        "tags": [
          "automation"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource id"
          }
        ]
      }
    },
    "/api/accounting/filing-reminders": {
      "get": {
        "operationId": "get_api_accounting_filing-reminders",
        "summary": "/api/accounting/filing-reminders GET — Filing reminders (companySlug)",
        "description": "/api/accounting/filing-reminders GET — Filing reminders (companySlug)",
        "tags": [
          "accounting"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companySlug",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tenant company slug"
          }
        ]
      }
    },
    "/api/accounting/initiate-payment": {
      "post": {
        "operationId": "post_api_accounting_initiate-payment",
        "summary": "/api/accounting/initiate-payment POST: Initiate local payment (companySlug, paym",
        "description": "/api/accounting/initiate-payment POST: Initiate local payment (companySlug, paymentMethodId, amount, currency, invoiceId)",
        "tags": [
          "accounting"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "parameters": [
          {
            "name": "companySlug",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tenant company slug"
          }
        ]
      }
    },
    "/api/accounting/profit-loss": {
      "get": {
        "operationId": "get_api_accounting_profit-loss",
        "summary": "GET /api/accounting/profit-loss?companySlug=X&from=YYYY-MM-DD&to=YYYY-MM-DD ACC-",
        "description": "GET /api/accounting/profit-loss?companySlug=X&from=YYYY-MM-DD&to=YYYY-MM-DD ACC-1: Profit & Loss Statement (قائمة الدخل)",
        "tags": [
          "accounting"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companySlug",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tenant company slug"
          }
        ]
      }
    },
    "/api/accounting/bank-accounts": {
      "get": {
        "operationId": "get_api_accounting_bank-accounts",
        "summary": "/api/accounting/bank-accounts GET — list bank accounts for company POST — create",
        "description": "/api/accounting/bank-accounts GET — list bank accounts for company POST — create bank account",
        "tags": [
          "accounting"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companySlug",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tenant company slug"
          }
        ]
      },
      "post": {
        "operationId": "post_api_accounting_bank-accounts",
        "summary": "/api/accounting/bank-accounts GET — list bank accounts for company POST — create",
        "description": "/api/accounting/bank-accounts GET — list bank accounts for company POST — create bank account",
        "tags": [
          "accounting"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "parameters": [
          {
            "name": "companySlug",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tenant company slug"
          }
        ]
      }
    },
    "/api/accounting/bank-accounts/{id}": {
      "get": {
        "operationId": "get_api_accounting_bank-accounts_by_id",
        "summary": "/api/accounting/bank-accounts/[id] GET — get single bank account PATCH — update ",
        "description": "/api/accounting/bank-accounts/[id] GET — get single bank account PATCH — update bank account DELETE — soft-delete (set isActive=false)",
        "tags": [
          "accounting"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource id"
          }
        ]
      },
      "patch": {
        "operationId": "patch_api_accounting_bank-accounts_by_id",
        "summary": "/api/accounting/bank-accounts/[id] GET — get single bank account PATCH — update ",
        "description": "/api/accounting/bank-accounts/[id] GET — get single bank account PATCH — update bank account DELETE — soft-delete (set isActive=false)",
        "tags": [
          "accounting"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource id"
          }
        ]
      },
      "delete": {
        "operationId": "delete_api_accounting_bank-accounts_by_id",
        "summary": "/api/accounting/bank-accounts/[id] GET — get single bank account PATCH — update ",
        "description": "/api/accounting/bank-accounts/[id] GET — get single bank account PATCH — update bank account DELETE — soft-delete (set isActive=false)",
        "tags": [
          "accounting"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource id"
          }
        ]
      }
    },
    "/api/accounting/bank-import": {
      "post": {
        "operationId": "post_api_accounting_bank-import",
        "summary": "/api/accounting/bank-import POST — import bank statement CSV",
        "description": "/api/accounting/bank-import POST — import bank statement CSV",
        "tags": [
          "accounting"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "parameters": [
          {
            "name": "companySlug",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tenant company slug"
          }
        ]
      }
    },
    "/api/accounting/client-statement": {
      "get": {
        "operationId": "get_api_accounting_client-statement",
        "summary": "/api/accounting/client-statement GET — Client account statement ?companySlug=X&c",
        "description": "/api/accounting/client-statement GET — Client account statement ?companySlug=X&clientId=Y",
        "tags": [
          "accounting"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companySlug",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tenant company slug"
          }
        ]
      }
    },
    "/api/accounting/post-dated-checks": {
      "get": {
        "operationId": "get_api_accounting_post-dated-checks",
        "summary": "/api/accounting/post-dated-checks GET / POST — post-dated checks GET: ?companySl",
        "description": "/api/accounting/post-dated-checks GET / POST — post-dated checks GET: ?companySlug=X&direction=receivable|payable&status=pending POST: Create a post-dated check",
        "tags": [
          "accounting"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companySlug",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tenant company slug"
          }
        ]
      },
      "post": {
        "operationId": "post_api_accounting_post-dated-checks",
        "summary": "/api/accounting/post-dated-checks GET / POST — post-dated checks GET: ?companySl",
        "description": "/api/accounting/post-dated-checks GET / POST — post-dated checks GET: ?companySlug=X&direction=receivable|payable&status=pending POST: Create a post-dated check",
        "tags": [
          "accounting"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "parameters": [
          {
            "name": "companySlug",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tenant company slug"
          }
        ]
      }
    },
    "/api/accounting/post-dated-checks/{id}/deposit": {
      "post": {
        "operationId": "post_api_accounting_post-dated-checks_by_id_deposit",
        "summary": "/api/accounting/post-dated-checks/[id]/deposit POST — deposit a post-dated check",
        "description": "/api/accounting/post-dated-checks/[id]/deposit POST — deposit a post-dated check",
        "tags": [
          "accounting"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource id"
          }
        ]
      }
    },
    "/api/accounting/post-dated-checks/{id}/cancel": {
      "post": {
        "operationId": "post_api_accounting_post-dated-checks_by_id_cancel",
        "summary": "/api/accounting/post-dated-checks/[id]/cancel POST — cancel a post-dated check",
        "description": "/api/accounting/post-dated-checks/[id]/cancel POST — cancel a post-dated check",
        "tags": [
          "accounting"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource id"
          }
        ]
      }
    },
    "/api/accounting/post-dated-checks/{id}": {
      "get": {
        "operationId": "get_api_accounting_post-dated-checks_by_id",
        "summary": "/api/accounting/post-dated-checks/[id] GET / PATCH — single post-dated check (up",
        "description": "/api/accounting/post-dated-checks/[id] GET / PATCH — single post-dated check (update status: deposit, clear, return, cancel)",
        "tags": [
          "accounting"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource id"
          }
        ]
      },
      "patch": {
        "operationId": "patch_api_accounting_post-dated-checks_by_id",
        "summary": "/api/accounting/post-dated-checks/[id] GET / PATCH — single post-dated check (up",
        "description": "/api/accounting/post-dated-checks/[id] GET / PATCH — single post-dated check (update status: deposit, clear, return, cancel)",
        "tags": [
          "accounting"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource id"
          }
        ]
      }
    },
    "/api/accounting/wps": {
      "get": {
        "operationId": "get_api_accounting_wps",
        "summary": "/api/accounting/wps GET — list WPS files for company POST — generate WPS file",
        "description": "/api/accounting/wps GET — list WPS files for company POST — generate WPS file",
        "tags": [
          "accounting"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "companySlug",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tenant company slug"
          }
        ]
      },
      "post": {
        "operationId": "post_api_accounting_wps",
        "summary": "/api/accounting/wps GET — list WPS files for company POST — generate WPS file",
        "description": "/api/accounting/wps GET — list WPS files for company POST — generate WPS file",
        "tags": [
          "accounting"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "parameters": [
          {
            "name": "companySlug",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tenant company slug"
          }
        ]
      }
    },
    "/api/accounting/wps/{id}/submit": {
      "post": {
        "operationId": "post_api_accounting_wps_by_id_submit",
        "summary": "/api/accounting/wps/[id]/submit POST — submit a WPS file",
        "description": "/api/accounting/wps/[id]/submit POST — submit a WPS file",
        "tags": [
          "accounting"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource id"
          }
        ]
      }
    },
    "/api/accounting/wps/{id}/download": {
      "get": {
        "operationId": "get_api_accounting_wps_by_id_download",
        "summary": "/api/accounting/wps/[id]/download GET — download a WPS file (returns SIF format ",
        "description": "/api/accounting/wps/[id]/download GET — download a WPS file (returns SIF format data)",
        "tags": [
          "accounting"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource id"
          }
        ]
      }
    },
    "/api/accounting/wps/{id}": {
      "get": {
        "operationId": "get_api_accounting_wps_by_id",
        "summary": "/api/accounting/wps/[id] GET — download WPS file content PATCH — update WPS file",
        "description": "/api/accounting/wps/[id] GET — download WPS file content PATCH — update WPS file status (submit/accept/reject)",
        "tags": [
          "accounting"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource id"
          }
        ]
      },
      "patch": {
        "operationId": "patch_api_accounting_wps_by_id",
[...]
